#map{
	height: 680px;
	width: 100%;  
	margin-left: 0px;
	margin-right: 0px;   
	/* float: right; */  
}

#timeline{
 	margin-top: 15px; 
	margin-left: 20px;
	margin-right: 20px;
    width: 90%; 
	display: inline-block;
}

#slider-range-max{
	margin-left: 55px;
}

#linegraph_all{
	margin-left: 10px;
	margin-right: 0px;	
	width: 100%;
}

#linegraph{
	margin-top: 0px;
	margin-left: 25px;
	margin-right: 0px;
    height: 180px;
	width: 90%; 
	display: inline-block;
	/* background-color: yellow;  */
}

#barchart_all{
	margin-left: 10px;
	margin-right: 0px;
	width: 95%;
}

#barchart{	
	height: 280px;
	width: 100%;
	background-color: '#dcb39c';   /* //just testing - need to delete this */
/*  	margin-top: 0px;
	margin-bottom: 50px;
	margin-left: 140px;
	margin-right: 0px;  */
}

#barchartxaxis{
	height: 50px;
	width: 100%;
	/* background-color: yellow; */
}

#btnIntro {
	background: #e60000;  /* button colour */
	color: #ffffff;  	  /* text colour */
	border: #e60000;
	font-weight: bold;
	font-size: 12px;
	margin-bottom: 10px;
	margin-right: 15px;
	float: right;
} 

#statbuttons {
	margin-left: 10px;
	margin-right: 0px; 
	margin-top: 5px;
	/* margin-top: 28px; */
}

#regionbuttons {
	margin-top: 30px;
	/* margin-left: 5px; */
	margin-right: 0px; 
	margin-bottom: 8px;
	float: right;
	
}


.more_info {
	font: 12px sans-serif;
	text-align: right;
	margin-top: 0px;
	margin-right: 0px;
}

.title{
	font: 28px sans-serif;
	font-weight: bold;
	margin-top: 20px;
	margin-left: 30px;
	margin-bottom: 4px;
}

.logo{
	margin-top: 20px;
	margin-left: 40px;
}

.map_title{
	font: 20px sans-serif;
	margin-top: 40px;
	margin-left: 0px;
	margin-bottom: 5px;
}

.map_subtitle{
	font: 14px sans-serif;
	margin-top: 0px;
	margin-left: 0px;
	margin-bottom: 5px;
	font-weight: bold; 
}

.mapinfo {
    padding:5px;
    background-color:white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
 }
 
.mapinfo_title {
	font-size: 14px;
	font-weight: bold;
	text-align: right;
	margin-bottom: 6px;
 } 
.mapinfo_stat{
	font-size: 12px;
	text-align: right;
	margin-top: 0px;
	margin-bottom: 2px;
 }
 
.maplegend {
 	width: 100%;
	min-width: 160px;
	max-width: 200px;
    padding:5px;
    background-color:white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
 }
 
.maplegend_title {
	font-size: 14px;
	font-weight: bold;
	text-align: left;
	margin-bottom: 10px;
 } 
.maplegend_cat{
	height: 10px;
	font-size: 12px;
	text-align: left;
	margin-top: 0px; 	
	white-space: nowrap;
	/* display: inline;  */
 }
 
.mapLegend i {
    width: 18px;
    height: 18px;
    float: left;
	margin-left: 5px;
    margin-right: 10px;
    opacity: 1;
}

.linegraph_title{
	display: inline-block;
	font: 16px sans-serif;
	font-weight: bold;
	margin-top: 15px;
	margin-left: 30px;
	margin-bottom: 0px;
}

.linegraph_intro{
	display: inline-block;
	font: 14px sans-serif;
	/* font-weight: bold;  */
	/* margin-top: 20px;
	margin-left: 30px; */
	margin-bottom: 0px;
	text-align: center;
}


.barchart_title{
	display: inline-block;
	font: 16px sans-serif;
	font-weight: bold;
	margin-top: 20px;
	margin-left: 30px;
	margin-bottom: 5px;
}

.barchart_subtitle{
	font: 14px sans-serif;
	margin-top: 0px;
	margin-left: 30px;
	margin-bottom: 3px;
	font-weight: bold;
}

.barlegend{
	margin-top: 0px;
	margin-right: 12px;
	margin-left: 0px;
	display: inline-block;
	width: 290px;
	height: 30px;
	text-align: right;
	float: right; 
	font: 10px sans-serif;
	/* font-weight: bold; */
	font-style: italic;
	/* word-break:break-all; */
	/* background-color: white; */
}

.xlabel{
    font: 12px sans-serif;   /* controls timeline text */
}  

.spacersm {
    margin-top:10px;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 4px;
  background: rgba(200,200,200, 0.9);
  color: #fff;
  border-radius: 2px;
} 
 
.button {
    background-color: #cccccc; /* #3160b2; */
    border: none;
	border-radius: 8px;
	outline: none;
	/*outline-color: #ffff00;*/
    color: black; /* white; */
    padding: 4px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    /*margin: 4px 2px;*/
	margin-left: 15px;
	margin-bottom: 6px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
	/* background-color: #264b8b */
}

.button:active {
  border-radius: 8px;
  background-color: #3160b2; /* #264b8b; */
  color: white;   /* #ffff00; */
  box-shadow: 0 4px #666;
  transform: translateY(3px); 
  /* border: 1px solid #979797;  */
}

.button.button_newrow {
	/*background-color: #b652bd; */
	margin-top: 4px;
	/* display: block; */
}

.on {
	background-color: #3160b2;
	color: white;
}

.button_sm {
    background-color: #cccccc; /* #3160b2; */
    border: none;
	border-radius: 8px;
	outline: none;
	/*outline-color: #ffff00;*/
    color: black; /* white; */
    padding: 4px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 11px;
    /*margin: 4px 2px;*/
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 3px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button_sm:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
	/* background-color: #264b8b */
}

.button_sm:active {
  border-radius: 8px;
  background-color: #89457c; /* #264b8b; */
  color: white;   /* #ffff00; */
  box-shadow: 0 4px #666;
  transform: translateY(3px); 
  /* border: 1px solid #979797;  */
}

.reg_on {
	background-color: #89457c;
	color: white;
}

.button.play{
    float: left; 
    width: 40px;
    height: 40px;
	margin-top: 0px;
    margin-left: 0px;
	background: url(../images/play.png);
	background-size: 30px 30px;
	background-position:center;
	background-repeat:no-repeat; 
}

.button.pause{
	width: 40px;
    height: 40px;
	margin-top: 0px;
    margin-left: 0px;
	background: url(../images/pause.png);
	background-size: 30px 30px;
	background-position:center;
	background-repeat:no-repeat; 
}

.btnClrAll {
	float: right;
	margin-top: 25px;
	margin-right: 30px;
	margin-bottom: 0px;
}

.axis text {
  font: 11px sans-serif;
}
  
.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

 
.timeslider {
 	margin-left: 40px;
	margin-right: 35px;
	margin-top: 16px;
 }
 
.dots{
    width: 6px;
    height: 6px;
    background: grey;
    border-radius: 20px;
    display: block;
    position: absolute;
    top: 2px;
}

.bl_line{
    height: 2px;
	width: 100%;
    background: black;
    border-radius: 20px;
    display: block; 
    position: absolute;
    top: 4px;
}

.ui-slider-handle{
    -webkit-border-radius: 50%;
    color: #ecf0f1  !important;       /* text color for selected year */
    line-height: 40px  !important;
    top: -15px !important;
    width: 40px !important;
    height: 40px !important;
   /*  background:#16a085 !important; */
    background: #101e42 !important;     /* circle color for selected year */
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;  
    margin-left: -20px !important;
    border: none !important;
   -webkit-transition:background .25s ease-in;  
   -moz-transition:background .25s ease-in;  
   -o-transition:background .25s ease-in;  
   transition:background .25s ease-in;  
    -webkit-backface-visibility: hidden !important;
    cursor: pointer!important; 
}

.ui-slider-handle:hover{
    /* background:#2fe2bf !important; */
	background:#354674 !important; 
}

.ui-slider-handle:active{
   /* background:#16a085 !important; */
   background:#354674 !important;
}

.ui-slider-handle:focus{
   outline: none !important;
}

.ui-slider-range {			/* this updates perfectly when changing screen size; */
    /* background:#1abc9c !important; */
	background:steelblue !important;
	opacity: 0.6;
	height: 15px;
	width: 100;
    border: none !important;
    -webkit-border-radius: 10px !important;
}

.ui-slider{
    -webkit-border-radius: 10px !important;
    border: none !important;
	height: 10px;
	width: 85%; 
	margin-left: 40px;
	/* background:#e8edf2 !important;  */
    background:white !important;   /* color behind all years on slider */
}
/* #map-container {
	height: 550px;
	width: 95%; 
} */
 	/*position: absolute;  */ 		/* child position absolute relative to parent (row-container) */ 
	/* margin-right: 0px; */
/* 	top: 0px; 
	right: 0px;
}     */

/* .sticky {
    position: fixed !important; 
	top: 0px;
} */	
	/* position: absolute !important; */
	/* position: static;  */
	/* right: 0px !important; */	
	/* right: 0px; */
 

/* #row-container {
	position: relative; 	/* parent position relative 
}  */

